@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}

body{ background:#fafafa;}

#wrap{ width:85%; margin:auto; background:url(../images/bg.jpg); height:1120px;}
#inner{ width:1100px; margin:auto; background-color:#f4f4f4; border-radius:5px;padding-top:16px;height:1100px;}
#header{margin-right:12px; margin-left:12px;height:38px; background-color:#3f577f;}
#header_r{ width:80px; height:30px; background-color:#102438; float:right; margin-right:30px; margin-top:4px; border-radius:5px; border:1px solid #102438;}
#header_r img{ padding-left:7px; padding-top:10px;}
#bottom{height:490px; background-color:#FFF;margin-right:12px; margin-left:12px; padding-top:20px;/*border:1px solid red;*/}
#bottom #ul{margin:0px 10px;}
#bottom li{ float:left;}
#bottom #li{ margin-left:140px;}
#bottom li p{ font-weight:400; text-align:center; height:60px; line-height:60px;font-family: 'Open Sans',sans-serif;font-style: sans-serif;color: rgba(0, 0, 0, 0.7); text-transform:uppercase;}

.denglu{ width:358px;/* height:274px;*/ background-color:#425161; border-radius:5px; display:none;
 position: absolute;    
    top: 50%;    
    left:50%;    
    margin: -150px 0 0 -150px;
	padding-bottom:10px; 
}
.dl{width:310px; margin: auto; /*border:1px solid red;*/}
.dl #in1{ background:url(../images/passw.png) no-repeat 4px 10px; background-color: #112539; }
.dl #in2{ background:url(../images/user.png) no-repeat 4px 10px; background-color: #112539; }
.dl input{    
    width: 230px;    
    height: 18px;    
   margin-bottom: 14px;    
    outline: none;    
    padding: 10px 10px 10px 30px;
    font-size: 13px;    
    color: #fff;    
    text-shadow:1px 1px 1px;    
   border-top: 1px solid #312E3D;    
    border-left: 1px solid #312E3D;    
    border-right: 1px solid #312E3D;    
    border-bottom: 1px solid #56536A;    
    border-radius: 8px; margin-right:14px; 
     
}    
.dl span{ background:url(../images/correct.png) no-repeat 0 8px; height:30px; width:18px; display:block; float:right;/* border:1px solid red;*/}
.dl #fal{ background:url(../images/false.png) no-repeat 0 8px;}
h2{    
color: #fff;    
   text-shadow:0 0 10px;       letter-spacing: 1px;    
    text-align: center; 
    font-size: 2em;    
    margin: 0.67em 0;    
}
.but,#but{    
    width: 90px;    
    min-height: 20px;        /*display: block;*/    
    background-color: #112539;    
    border: 1px solid #112539;    
    color: #fff;    
    padding: 9px 14px;     
    font-size: 15px;    
    line-height: normal;    
   border-radius: 4px;    
    margin-left: 40px; margin-bottom:10px;    
}  
#deng{
	 position: absolute;    
    top: -2px;    
    right:42px; display:none;
	}
#deng .deng{ padding-left:6px;width:170px; background-color:#425261; border-radius:8px; float:right; /*border:1px solid red;*/ display:block; padding-top:20px; padding-bottom:12px;}
#deng .deng font{ font-size:14px;}
#deng .deng #bb{ width:170px; padding-left:20px; padding-right:12px;}
#deng .deng a{color:#ecedee;font-size:14px; text-decoration:none; padding:6px 14px; background:#425261; margin-right:4px; margin-left:4px; border-radius:5px;}
#deng .deng a:hover{ color:#e1de9f;font-size:14px; text-decoration:none; padding:6px 14px; background:#0a1826; margin-right:4px; margin-left:4px; border-radius:5px;}
#deng .deng input{
	width: 100px;    
    height: 18px;    
   margin-bottom: 10px;    
    outline: none;    
    padding: 6px;    
    color: #fff;    
   border-top: 1px solid #312E3D;    
    border-left: 1px solid #312E3D;    
    border-right: 1px solid #312E3D;    
    border-bottom: 1px solid #56536A;    
    border-radius: 10px;    
   background-color: #112539;
	}

#bottom ul li img{
	transition:2s;
	-webkit-transition:2s;
	-moz-transition:2s;
}
#bottom ul li img:hover{
	-webkit-transform:rotate(360deg) scale(1.3); 
	-moz-transform:rotate(360deg) scale(1.3);
	-ms-transform:rotate(360deg) scale(1.3);
	-o-transform:rotate(360deg) scale(1.3);
}


.banner{ width:1060px;
		   /* margin-left:10px; margin-right:10px; *//*border:1px solid red;*/
			height: 240px;
			/*background: black;*/
			/*子绝父相*/
			position: relative;
			/*超出部分全部隐藏，解决横向滚动条*/
			overflow: hidden;
		}
		.banner ul{
			position: absolute;
		}
		.banner ul li{
			/*这个100%是相对于父盒子的（会把父盒子的宽度继承过来,如父盒子300%,这这里的100%就会相当于300%）*/
			
			height: 240px;
			
			background:  no-repeat 94px center;
		}
		.banner ol{
			/*width: 60px;*/
			height: 20px;
			background: rgba(0,0,0,0.5);
			position: absolute;
			left:50%;
			/*margin-left: -40px;*/
			bottom: 30px;
			padding: 0 10px;
			border-radius: 10px;
		}
		.banner ol li{
			width: 10px;
			height: 10px;
			float: left;
			margin: 5px 5px;
			background: rgba(255,255,255,0.5);
			border-radius: 50%;
			cursor: pointer;
		}
		.banner ol .current{
			background: rgba(255,255,255,1);
		}
		.banner i{
			width: 58px;
			height: 120px;
			position: absolute;
			top: 50%;
			margin-top: -60px;
			cursor: pointer;
			border-radius: 5px;
			display: none;
		}
		.banner .left{
			left: 60px;
			background:url(../images/l_r.png) no-repeat ;
		}
		.banner .right{
			right: 60px;
			background: url(../images/l_r.png) no-repeat 0px -120px;
		}
		.banner .left:hover , .banner .right:hover{
			background-color: rgba(0, 0, 0, 0.11);
		}
