@charset "utf-8";
/* CSS Document */
#bb_b{ height:140px; background-color:#333333;}
.footer-nav{padding-top:60px;}
#bb_b p{text-align: center; font: 16px/1.5 "Lucida Grande",Helvetica,Arial; color:#989898;}
#bb_b a{text-decoration: none; color:#989898;}

